@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

li {
  list-style: none;
}

.grow {
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

.grow:hover {
  transform: scale3d(1.5,1.5,1);  
}

.yt-title {
  color: #fff;
  -webkit-line-clamp: 2;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.125rem;
  line-height: 1.625px;
  font-weight: 400;
}

.yt-subtitle {
  color: rgb(170,170,170);    
  font-size: .75rem;
  line-height: 1.125rem;  
}