.text-orange{
  color: #ff8800;
}

.link {
  text-decoration: none;
  color: greenyellow;
}

.link:hover {
  color: rgb(224, 255, 177);
}

.card {
  min-height: 125px !important;
  position: relative !important;
}

.bg-black {
  background-color: black;
}

.fs-sm {
  font-size: .8rem;
}

.opacity-90 {
  opacity: .9;
}

/* tooltips */
.tooltip-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale3d(0,0,1);
  transition: all .3s ease-in-out;  
}

.tooltip-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
}

.tooltip-3 .tooltip-data {
  height: 100%;
  padding: 15px 0 0 0;
  opacity: 0;  
  overflow: auto;
  transform: scale3d(.2,.2,1);
  transition: all .3s ease-in-out;  
}

.tooltip-3 .tooltip-data ol {
  width: 85%;  
}

.tooltip-icon:hover ~ .tooltip-3,
.tooltip-icon:hover ~ .tooltip-3 .tooltip-data {
  opacity: .9 !important;  
  transform: scale3d(1,1,1); 
}