.text-orange{
  color: #ff8800;
}

.link {
  text-decoration: none;
  color: greenyellow;
}

.link:hover {
  color: rgb(224, 255, 177);
}

.card {
  min-height: 125px !important;
  position: relative !important;
}

.bg-black {
  background-color: black;
}

.fs-sm {
  font-size: .8rem;
}

/* tooltips */
.tooltip-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale3d(0,0,1);
  transition: all .3s ease-in-out;  
}

.tooltip-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;  
}

.tooltip-3 .tooltip-data {
  height: 100%;
  padding: 4px;  
  overflow: auto;  
}

.tooltip-show {
  opacity: .9;
  transform: scale3d(1,1,1);
}