.text-orange{
  color: #ff8800;
}

.link {
  text-decoration: none;
  color: greenyellow;
}

.link:hover {
  color: rgb(224, 255, 177);
}

.card {
  min-height: 125px !important;
  position: relative !important;
}

/* tooltips */
.tooltip2 {
  position: absolute;
  right: 10px;  
}

.tooltip2:before {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip2:before {
  position: absolute;
  content: attr(data-title);
  top: 0;
  right: -1px;
  width: 215px;
  height: 115px;  
  padding: 6px 10px;
  font-size: 14px;
  color: #fff;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  overflow: auto;
}

.tooltip2.fade2:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}

.tooltip2.fade2:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.tooltip2.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}

.tooltip2.expand:hover:before {
  opacity: 1;
  transform: scale3d(1,1,1);
}